.dashboard {
  &-container {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    border-radius: 0px !important;

    .pusher {
      position: absolute !important;
      top: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      left: 350px !important;
    }
  }

  &-toolbar {
    padding: 24px;
    background-color: #41b7b7;
    * {
      color: white !important;
    }
  }
}
